header, footer {
  text-align: center;
}
.app {
  width: 450px;
  margin: 20px auto;
}
.status-bar {
  height: 60px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 18px 0;
}
.field {
  border-spacing: 0;
}
.cell {
  font-size: 120px;
  width: 140px;
  height: 140px;
  border: black solid 1px;
  text-align: center;
}
